//- Copyright (c) Microsoft Corporation. All rights reserved.
//- Licensed under the MIT License. 

extends layout

block content
    h2.text-center Admin consent required
    hr
    .col-md-7
        h4 Your Tenant admin has not given consent to this application. 
        P This application requires 
            | <code>'SecurityEvents.ReadWrite.All', and 'User.Read.All'</code> 
            | permissions to access the Security API, You currently have <code>'#{session.scopes}'</code> 
            | permissions. 

        - var adminPage = "https://login.microsoftonline.com/common/adminconsent?client_id=" + viewData.appId + "&redirect_uri=" + viewData.redirectUri
    
        hr

        p <b>If you are the tenant admin</b>, please give this application consent to access the Security API 
            | data in your tenant via the link below. 
            | For more information on admin consent, read 
            a(href="https://developer.microsoft.com/en-us/graph/docs/concepts/security-authorization#grant-permissions-to-an-application") Granting permissions to an application
            |.
        a(href=adminPage)
            |https://login.microsoftonline.com/common/adminconsent?client_id=#{viewData.appId}&redirect_uri=#{viewData.redirectUri}
    
        hr

        p #[b If your tenant admin has given consent], Then you are missing the #[em 'SecurityEvents.ReadWrite.All' or 'User.Read.All'] 
            | permissions in your app registration. Please go to "API permissions" on 
            a(href="https://go.microsoft.com/fwlink/?linkid=2083908") https://go.microsoft.com/fwlink/?linkid=2083908,
            | to add #[em 'SecurityEvents.ReadWrite.All' and 'User.Read.All'] to the delegated permissions in your application. 
            | then have the admin consent to the updated permissions.
        
