//- Copyright (c) Microsoft Corporation. All rights reserved.
//- Licensed under the MIT License. 

extends layout

block content
    h1.text-center= title
    hr
    if !viewData.secureScoreProfiles
        include ./secureScore.pug

    .container-fluid
        .row
            .col-md-6
                if !viewData.secureScoreProfiles

                    include ./alertForm.pug
                    hr
                    include ./updateForm.pug
                    hr
                    include ./webhookForm.pug
                    //- if "SecurityActions.ReadWrite.All" in session.scopes
                    include ./securityActionsForm.pug
                else 
                    include ./secureScoreDetails.pug
                
            .col-md-6
                include ./alertView.pug

